<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Informes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Vistas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/utility">Utility</a></li>
            <li>
              <a class="dropdown-item" routerLink="/suppliers">Suppliers</a>
            </li>
            <li><a class="dropdown-item" routerLink="/sales">Sales</a></li>
            <li>
              <a class="dropdown-item" routerLink="/inventory">Inventory</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/payment-method"
                >Payment-method</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/borrador">Borrador</a>
            </li>
            <li><a class="dropdown-item" routerLink="/draft">Draft</a></li>
           </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
